parameters:
    excludes_analyse:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixture/Application/Kernel.php
        - tests/Functional/AbstractKernelTestCase.php
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/ExtendedMockHttpClient_Tests_Fixture_Application_KernelTestDebugContainer.xml'
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
