parameters:
    paths:
        - src
        - tests
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
        - '#Parameter \#1 \$responses of static method Symfony\\Component\\HttpClient\\Response\\MockResponse::stream\(\).*#'
